/*Start hobbies*/

.my-hobbies {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.hobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin: 2rem 1.5rem;
    width: 30%;
    background-color: #000000;
    box-shadow: 1.2rem 1.2rem 0 0.1rem #c0bfbfb0;
    border-radius: 1rem;
}

.hobby>h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 2rem 0px 2rem 0;
}


/*End hobbies*/

@media screen and (min-width: 1920px) {
    .hobby>h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1566px) and (max-width: 1919px) {
    .hobby>h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1054px) {
    .hobby {
        width: 40%;
    }
}

@media screen and (max-width: 769px) {
    .hobby {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    .hobby {
        box-shadow: 0.8rem 0.8rem 0 0.1rem #c0bfbfb0;
        width: 100%;
    }
}